__pycache__/
*.pyc
*.pyo


*.ipynb
*.json
*.tmp
*.bak
*.log
*.DS_Store
drive/
content/
sample_data/


data/
*.csv


outputs/
outputs/tablas/
outputs/graficos/


.env
.env/
venv/
.vscode/
.idea/


Thumbs.db
.DS_Store
